.bottom
	height: 575px
	background-image: url(img/bottom_bg.jpg)
	background-position: 65% -5px
	margin-bottom: 33px
	&__title
		font-weight: bold
		font-size: 48px
		line-height: 72px
		color: #000
		padding-top: 78px
		width: 514px
		text-align: center
		margin: auto
		padding-bottom: 42px
	&__img
		background-image: url(img/car.png)
		width: 596px
		height: 254px
		margin-left: 319px
		margin-top: 18px
	&__form
		display: flex
		justify-content: center
		&-field
			width: 260px
			margin-right: 40px
			&:last-child
				margin-right: 0
			input
				width: 100%
				height: 60px
				border: 2px solid #ECEEF7
				border-radius: 57px
				background: #FFF
				font-size: 14px
				padding-left: 30px
				padding-right: 30px
				outline: none
				color: #222222
				font-family: "Montserrat"
				&:focus
					box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.13)
			button
				width: 100%
				height: 60px
				background: linear-gradient(180deg, #FE5626 0%, #F23F0E 100%), #59AAF1
				box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26)
				border-radius: 59px
				border: none
				cursor: pointer
				font-family: "Montserrat"
				font-size: 18px
				color: #FFFFFF
				font-weight: bold
				text-align: left
				padding-left: 58px
				display: flex
				align-items: center
				outline: none
				&:after
					width: 36px
					height: 12px
					content: ''
					display: block
					background-image: url(img/arrow.svg)
					background-repeat: no-repeat
					margin-left: 31px
					background-size: contain
