.footer
	padding-bottom: 20px
	&__content
		display: flex
		justify-content: space-between
		align-items: center
		font-size: 16px
	&__logo
		width: 96px
		margin-left: 30px
		img
			width: 100%
			margin-top: -8px
	&__copyright
		margin-top: 8px
	&__text
		margin-top: 8px
		a
			text-decoration: none
			font-weight: bold
			color: #000
		&--orange
			color: #E45759
			font-weight: bold
