.header
	display: flex
	&__menu
		display: flex
		padding-top: 59px
		&-item
			margin-right: 40px
			a
				color: #000
				font-size: 16px
				line-height: 20px
				text-decoration: none
	&__logo
		padding-top: 25px
		margin-left: 203px
		a
			background-image: url(img/logos.png)
			display: block
			width: 112px
			height: 67px
	&__info
		display: flex
		padding-top: 50px
		margin-left: auto
		align-items: center
		&-time
			font-size: 16px
			line-height: 20px
			margin-right: 40px
			display: flex
			align-items: center
			&:before
				content: ''
				display: block
				width: 4px
				height: 4px
				background-color: #46CB72
				border-radius: 50%
				margin-right: 9px
		&-phone
			display: flex
			align-items: center
			&-icon
				background-image: url(img/phone.svg)
				width: 33px
				height: 33px
				background-position: 50% 50%
				margin-right: 11px
			&-number
				font-size: 18px
				font-weight: bold
				line-height: 22px