.instagram
	position: relative
	overflow: hidden
	&__photos
		display: flex
		width: calc(100% + 320px)
		margin-left: -160px
		justify-content: center
		padding-bottom: 70px
	&__photo
		width: 260px
		min-width: 260px
		margin: 0 20px
		&:first-child
			margin-left: 0
		&:last-child
			margin-right: 0
		img
			width: 100%
	&__info
		position: absolute
		left: 0
		right: 0
		margin: auto
		width: 480px
		height: 180px
		background: linear-gradient(20.58deg, #FD9924 -51.05%, #F65B16 134.89%)
		box-shadow: 0px 20px 25px rgba(253, 55, 36, 0.2), 0px 35px 50px rgba(253, 55, 36, 0.2), 0px 70px 90px rgba(253, 55, 36, 0.2)
		border-radius: 15px
		top: 0
		bottom: 75px
	&__text
		display: flex
		justify-content: center
		align-items: center
		height: 140px
		margin: auto
		margin-top: 20px
		width: 440px
		border: 2px solid rgba(255,255,255,0.1)
		border-radius: 15px
	&__label
		font-size: 24px
		line-height: 29px
		color: #FFF
	&__name
		a
			font-weight: bold
			font-size: 24px
			line-height: 29px
			text-decoration: none
			color: #FFF
			margin-left: 14px



