.main
	height: 832px
	background-color: #F0F5FB
	background-image: url(img/main_bg.jpg)
	background-position: 50% 0
	&__title
		font-weight: bold
		font-size: 48px
		line-height: 59px
		margin-bottom: 18px
	&__content
		margin-top: 105px
		text-align: center
		color: #000000
		position: relative
	&__text
		font-size: 18px
		line-height: 25px
		width: 621px
		margin: auto
	&__img
		background-image: url(img/main_pizza.png)
		width: 847px
		height: 630px
		margin-left: 255px
		margin-top: -41px
	&__tomato
		width: 159px
		height: 172px
		background-image: url(img/tomato.png)
		background-size: contain
		background-repeat: no-repeat
		position: absolute
		top: 16px
		left: -140px
	&__mushroom
		width: 107px
		height: 106px
		background-image: url(img/mushroom.png)
		background-size: contain
		position: absolute
		top: 396px 
		left: -4px
	&__cucamber
		width: 224px
		height: 206px
		background-image: url(img/cucamber.png)
		background-size: contain
		position: absolute
		top: 87px
		right: -152px
	&__pepper
		&-1
			width: 34px
			height: 39px
			background-image: url(img/pepper_1.png)
			position: absolute
			background-size: contain
			background-repeat: no-repeat
			top: 294px
			left: 155px
		&-2
			width: 36px
			height: 38px
			background-image: url(img/pepper_2.png)
			position: absolute
			background-size: contain
			background-repeat: no-repeat
			top: 361px
			left: 253px
		&-3
			width: 46px
			height: 49px
			background-image: url(img/pepper_3.png)
			position: absolute
			background-size: contain
			background-repeat: no-repeat
			top: 441px
			left: 201px
		&-4
			width: 26px
			height: 27px
			background-image: url(img/pepper_4.png)
			position: absolute
			background-size: contain
			background-repeat: no-repeat
			top: 413px
			right: 27px
		&-5
			width: 34px
			height: 35px
			background-image: url(img/pepper_5.png)
			position: absolute
			background-size: contain
			background-repeat: no-repeat
			top: 492px
			right: 27px
		&-6
			width: 35px
			height: 40px
			background-image: url(img/pepper_6.png)
			position: absolute
			background-size: contain
			background-repeat: no-repeat
			top: 492px
			right: 96px
			