.products
	.container
		position: relative
	&__title
		font-weight: bold
		font-size: 48px
		line-height: 59px
		padding-top: 109px
		text-align: center
	&__position
		display: flex
		justify-content: center
		padding-top: 49px
		&-item
			margin-right: 31px
			&:last-child
				margin-right: 0
			&:first-child
				a
					width: 135px
			&:nth-child(2)
				a
					width: 135px
			a 
				font-weight: 600
				font-size: 16px
				line-height: 55px
				color: #000
				width: 145px
				text-align: center
				text-decoration: none
				background: #ECEEF6
				border-radius: 45px
				display: block
				&.active
					color: #fff
					background: #59AAF1
	&__catalog
		padding-top: 50px
		display: flex
		flex-wrap: wrap
		justify-content: space-between
	&__item
		width: 260px
		background-image: url(img/product.svg)
		height: 426px
		background-repeat: no-repeat
		background-position: 50% 0
		color: #000
		margin-bottom: 11px
		&-img
			padding-top: 33px
			text-align: center
			padding-bottom: 30px
		&-info
			display: flex
			align-items: center
			justify-content: space-between
			padding-bottom: 8px
		&-title
			font-weight: 600
			font-size: 16px
			line-height: 22px
		&-size
			font-size: 12px
			line-height: 17px
		&-text
			font-size: 12px
			line-height: 17px
			padding-bottom: 19px
		&-content
			padding-right: 15px
			padding-left: 25px
		&-price
			font-weight: 300
			font-size: 24px
			line-height: 34px
			text-align: center
			padding-right: 10px
		&-button
			a
				width: 33px
				height: 33px
				border: 2px solid #ECEEF6
				border-radius: 50%
				display: block
				margin: auto
				margin-top: 18px
				background-image: url(img/bag.svg)
				background-repeat: no-repeat
				background-position: 50% 40%
	&__more
		a
			width: 60px
			height: 60px
			background: linear-gradient(287.74deg, #F58656 8.52%, #FE5626 92.72%)
			box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26)
			border-radius: 50%
			display: block
			margin: auto
			margin-top: 43px
			margin-bottom: 148px
			display: flex
			span
				background-image: url(img/arrows.svg)
				background-repeat: no-repeat
				width: 27px
				height: 27px
				display: block
				margin: auto
	&__icon-1
		width: 163px
		height: 86px
		background-image: url(img/icon-1.png)
		opacity: 0.1 
		background-size: contain
		background-repeat: no-repeat
		position: absolute
		top: 156px
		left: -138px
	&__icon-2
		width: 198px
		height: 150px
		background-image: url(img/icon-2.png)
		opacity: 0.1
		background-size: contain
		background-repeat: no-repeat
		position: absolute
		top: 353px
		right: -208px
	&__icon-3
		width: 137px
		height: 179px
		background-image: url(img/icon-3.png)
		opacity: 0.1
		background-size: contain
		background-repeat: no-repeat
		position: absolute
		top: 1260px
		left: -137px













