html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #FFFFFF;
  font-family: "Montserrat";
  position: relative;
  overflow-x: hidden;
  min-height: 300vh;
}

* {
  box-sizing: border-box;
}

.container {
  width: 1160px;
  margin: auto;
}

.header {
  display: flex;
}
.header__menu {
  display: flex;
  padding-top: 59px;
}
.header__menu-item {
  margin-right: 40px;
}
.header__menu-item a {
  color: #000;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}
.header__logo {
  padding-top: 25px;
  margin-left: 203px;
}
.header__logo a {
  background-image: url(img/logos.png);
  display: block;
  width: 112px;
  height: 67px;
}
.header__info {
  display: flex;
  padding-top: 50px;
  margin-left: auto;
  align-items: center;
}
.header__info-time {
  font-size: 16px;
  line-height: 20px;
  margin-right: 40px;
  display: flex;
  align-items: center;
}
.header__info-time:before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background-color: #46CB72;
  border-radius: 50%;
  margin-right: 9px;
}
.header__info-phone {
  display: flex;
  align-items: center;
}
.header__info-phone-icon {
  background-image: url(img/phone.svg);
  width: 33px;
  height: 33px;
  background-position: 50% 50%;
  margin-right: 11px;
}
.header__info-phone-number {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}

.main {
  height: 832px;
  background-color: #F0F5FB;
  background-image: url(img/main_bg.jpg);
  background-position: 50% 0;
}
.main__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 18px;
}
.main__content {
  margin-top: 105px;
  text-align: center;
  color: #000000;
  position: relative;
}
.main__text {
  font-size: 18px;
  line-height: 25px;
  width: 621px;
  margin: auto;
}
.main__img {
  background-image: url(img/main_pizza.png);
  width: 847px;
  height: 630px;
  margin-left: 255px;
  margin-top: -41px;
}
.main__tomato {
  width: 159px;
  height: 172px;
  background-image: url(img/tomato.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 16px;
  left: -140px;
}
.main__mushroom {
  width: 107px;
  height: 106px;
  background-image: url(img/mushroom.png);
  background-size: contain;
  position: absolute;
  top: 396px;
  left: -4px;
}
.main__cucamber {
  width: 224px;
  height: 206px;
  background-image: url(img/cucamber.png);
  background-size: contain;
  position: absolute;
  top: 87px;
  right: -152px;
}
.main__pepper-1 {
  width: 34px;
  height: 39px;
  background-image: url(img/pepper_1.png);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  top: 294px;
  left: 155px;
}
.main__pepper-2 {
  width: 36px;
  height: 38px;
  background-image: url(img/pepper_2.png);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  top: 361px;
  left: 253px;
}
.main__pepper-3 {
  width: 46px;
  height: 49px;
  background-image: url(img/pepper_3.png);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  top: 441px;
  left: 201px;
}
.main__pepper-4 {
  width: 26px;
  height: 27px;
  background-image: url(img/pepper_4.png);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  top: 413px;
  right: 27px;
}
.main__pepper-5 {
  width: 34px;
  height: 35px;
  background-image: url(img/pepper_5.png);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  top: 492px;
  right: 27px;
}
.main__pepper-6 {
  width: 35px;
  height: 40px;
  background-image: url(img/pepper_6.png);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  top: 492px;
  right: 96px;
}

.products .container {
  position: relative;
}
.products__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  padding-top: 109px;
  text-align: center;
}
.products__position {
  display: flex;
  justify-content: center;
  padding-top: 49px;
}
.products__position-item {
  margin-right: 31px;
}
.products__position-item:last-child {
  margin-right: 0;
}
.products__position-item:first-child a {
  width: 135px;
}
.products__position-item:nth-child(2) a {
  width: 135px;
}
.products__position-item a {
  font-weight: 600;
  font-size: 16px;
  line-height: 55px;
  color: #000;
  width: 145px;
  text-align: center;
  text-decoration: none;
  background: #ECEEF6;
  border-radius: 45px;
  display: block;
}
.products__position-item a.active {
  color: #fff;
  background: #59AAF1;
}
.products__catalog {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.products__item {
  width: 260px;
  background-image: url(img/product.svg);
  height: 426px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  color: #000;
  margin-bottom: 11px;
}
.products__item-img {
  padding-top: 33px;
  text-align: center;
  padding-bottom: 30px;
}
.products__item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
}
.products__item-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.products__item-size {
  font-size: 12px;
  line-height: 17px;
}
.products__item-text {
  font-size: 12px;
  line-height: 17px;
  padding-bottom: 19px;
}
.products__item-content {
  padding-right: 15px;
  padding-left: 25px;
}
.products__item-price {
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  padding-right: 10px;
}
.products__item-button a {
  width: 33px;
  height: 33px;
  border: 2px solid #ECEEF6;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-top: 18px;
  background-image: url(img/bag.svg);
  background-repeat: no-repeat;
  background-position: 50% 40%;
}
.products__more a {
  width: 60px;
  height: 60px;
  background: linear-gradient(287.74deg, #F58656 8.52%, #FE5626 92.72%);
  box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-top: 43px;
  margin-bottom: 148px;
  display: flex;
}
.products__more a span {
  background-image: url(img/arrows.svg);
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  display: block;
  margin: auto;
}
.products__icon-1 {
  width: 163px;
  height: 86px;
  background-image: url(img/icon-1.png);
  opacity: 0.1;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 156px;
  left: -138px;
}
.products__icon-2 {
  width: 198px;
  height: 150px;
  background-image: url(img/icon-2.png);
  opacity: 0.1;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 353px;
  right: -208px;
}
.products__icon-3 {
  width: 137px;
  height: 179px;
  background-image: url(img/icon-3.png);
  opacity: 0.1;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 1260px;
  left: -137px;
}

.instagram {
  position: relative;
  overflow: hidden;
}
.instagram__photos {
  display: flex;
  width: calc(100% + 320px);
  margin-left: -160px;
  justify-content: center;
  padding-bottom: 70px;
}
.instagram__photo {
  width: 260px;
  min-width: 260px;
  margin: 0 20px;
}
.instagram__photo:first-child {
  margin-left: 0;
}
.instagram__photo:last-child {
  margin-right: 0;
}
.instagram__photo img {
  width: 100%;
}
.instagram__info {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 480px;
  height: 180px;
  background: linear-gradient(20.58deg, #FD9924 -51.05%, #F65B16 134.89%);
  box-shadow: 0px 20px 25px rgba(253, 55, 36, 0.2), 0px 35px 50px rgba(253, 55, 36, 0.2), 0px 70px 90px rgba(253, 55, 36, 0.2);
  border-radius: 15px;
  top: 0;
  bottom: 75px;
}
.instagram__text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  margin: auto;
  margin-top: 20px;
  width: 440px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}
.instagram__label {
  font-size: 24px;
  line-height: 29px;
  color: #FFF;
}
.instagram__name a {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
  color: #FFF;
  margin-left: 14px;
}

.bottom {
  height: 575px;
  background-image: url(img/bottom_bg.jpg);
  background-position: 65% -5px;
  margin-bottom: 33px;
}
.bottom__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  color: #000;
  padding-top: 78px;
  width: 514px;
  text-align: center;
  margin: auto;
  padding-bottom: 42px;
}
.bottom__img {
  background-image: url(img/car.png);
  width: 596px;
  height: 254px;
  margin-left: 319px;
  margin-top: 18px;
}
.bottom__form {
  display: flex;
  justify-content: center;
}
.bottom__form-field {
  width: 260px;
  margin-right: 40px;
}
.bottom__form-field:last-child {
  margin-right: 0;
}
.bottom__form-field input {
  width: 100%;
  height: 60px;
  border: 2px solid #ECEEF7;
  border-radius: 57px;
  background: #FFF;
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
  outline: none;
  color: #222222;
  font-family: "Montserrat";
}
.bottom__form-field input:focus {
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.13);
}
.bottom__form-field button {
  width: 100%;
  height: 60px;
  background: linear-gradient(180deg, #FE5626 0%, #F23F0E 100%), #59AAF1;
  box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
  border-radius: 59px;
  border: none;
  cursor: pointer;
  font-family: "Montserrat";
  font-size: 18px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: left;
  padding-left: 58px;
  display: flex;
  align-items: center;
  outline: none;
}
.bottom__form-field button:after {
  width: 36px;
  height: 12px;
  content: "";
  display: block;
  background-image: url(img/arrow.svg);
  background-repeat: no-repeat;
  margin-left: 31px;
  background-size: contain;
}

.footer {
  padding-bottom: 20px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
.footer__logo {
  width: 96px;
  margin-left: 30px;
}
.footer__logo img {
  width: 100%;
  margin-top: -8px;
}
.footer__copyright {
  margin-top: 8px;
}
.footer__text {
  margin-top: 8px;
}
.footer__text a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}
.footer__text--orange {
  color: #E45759;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
